<%= form_for [@activity, @participation], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :display_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :display_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :attachment_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :attachment_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= yield :more_actions %>
    <%= link_to 'Back to Activities', activities_path, :class => 'btn'  %>
  </div>
<% end %>
