<%- model_class = Participation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @participation.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activity_id) %>:</strong></dt>
  <dd><%= @participation.activity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:display_name) %>:</strong></dt>
  <dd><%= @participation.display_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @participation.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attachment_url) %>:</strong></dt>
  <dd><%= @participation.attachment_url %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              participations_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_participation_path(@participation), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              participation_path(@participation),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
