<%- model_class = Catalog -%>
<div class="page-header">
  <h1><%= @catalog %></h1>
  <span>Creator: <%= @catalog.user %></span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:min_limit) %></th>
      <th><%= model_class.human_attribute_name(:max_limit) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @catalog.items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.min_limit %></td>
        <td><%= item.max_limit %></td>
        <td><%= item.priority %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_catalog_item_path(@catalog, item), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      catalog_item_path(@catalog, item),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Item', new_catalog_item_path(@catalog), :class => 'btn btn-primary' %>

<div class="form-actions">
  <%= link_to 'Back to Catalogs', catalogs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_catalog_path(@catalog), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              catalog_path(@catalog),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
