<%= form_for [@catalog, @item], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :min_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :min_limit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_limit, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :priority, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                catalog_items_path(@catalog), :class => 'btn' %>
  </div>
<% end %>
