<%= form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :catalog_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :catalog_id, Catalog.all, :id, :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_public, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :is_public, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= yield :more_actions %>
    <%= link_to 'Back to Activities', activities_path, :class => 'btn' %>
  </div>
<% end %>
