<%- model_class = Activity -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>#Participants</th>
      <th></th>
      <th>#Reviewers</th>
      <th></th>
      <th><%= model_class.human_attribute_name(:catalog_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td>
          <% if activity.is_public or @current_user.is_owner_of(activity) %>
            <%= link_to activity.title, scoreboard_activity_path(activity) %>
          <% else %>
            <%= activity.title %>
          <% end %>
        </td>
        <td><%= activity.participations.count %></td>
        <td>
          <% if part = @current_user.participated_in(activity) %>
            <%= link_to 'Edit Participation',
                        edit_activity_participation_path(activity, part),
                        class: 'btn btn-mini' %>
          <% else %>
            <%= link_to 'Participate',
                        new_activity_participation_path(activity),
                        class: 'btn btn-mini btn-success' %>
          <% end %>
        </td>
        <td><%= activity.reviewers.count %></td>
        <td>
          <%= link_to 'Review',
                      review_activity_path(activity),
                      class: 'btn btn-mini btn-primary' %>
        </td>
        <td><%= link_to activity.catalog, activity.catalog %></td>
        <td><%=l activity.created_at, format: '%Y-%m-%d %H:%M:%S %Z' %></td>
        <td>
          <% if @current_user.is_owner_of(activity) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_activity_path(activity), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        activity_path(activity),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Activity',
            new_activity_path,
            :class => 'btn btn-primary' %>
