<div class="page-header">
  <h1>Review: <%= @activity %></h1>
</div>

<%= form_tag submit_review_activity_path(@activity) do %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>姓名</th>
      <th>描述</th>
      <% @activity.catalog.items.each do |item| %>
        <th><%= item.title %></th>
      <% end %>
      <th>总分</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.participations.each do |part| %>
      <tr>
        <td><%= part.display_name %></td>
        <td><%= part.description %></td>
        <% @activity.catalog.items.each do |item| %>
          <td>
            <%= select_tag "p#{part.id}i#{item.id}",
                            options_for_select(item.options, Grade.find_or_max(@current_user, part, item)),
                            class: [:span, :score], style: 'width: 50px',
                            min: item.min_limit, max: item.max_limit %>
          </td>
        <% end %>
        <td class="total"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= submit_tag 'Submit Review', :class => 'btn btn-primary' %>
  <%= link_to 'Back to Activities', activities_path, :class => 'btn' %>
</div>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
$(function() {
  compute_total = function() {
    sum_values_of = function(a) {
      var s = 0;
      a.each(function(i, e) {
        s += parseInt($(e).val());
      });
      return s;
    };

    $('.total').each(function(i, t) {
      $(t).text(sum_values_of($(t).parent().find('.score')));
    });
  };

  compute_total();
  $('.score').click(compute_total).blur(compute_total);
});
</script>
<% end %>
