<%- model_class = Activity -%>
<div class="page-header">
  <h1>
    <%= @activity %>
    <%= link_to 'Participate', new_activity_participation_path(@activity), :class => 'btn btn-primary' %>
  </h1>
  <span>Creator: <%= @activity.user %></span>
  <span>Catalog: <%= link_to @activity.catalog, @activity.catalog %></span>
  <span>Public: <%= @activity.is_public %></span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:display_name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:attachment_url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @activity.participations.each do |participation| %>
      <tr>
        <td><%= participation.user_id %></td>
        <td><%= participation.display_name %></td>
        <td><%= participation.description %></td>
        <td><%= participation.attachment_url %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_activity_participation_path(@activity, participation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      activity_participation_path(@activity, participation),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back to Activities', activities_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_activity_path(@activity), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              activity_path(@activity),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
